sosREST:Sensor xmlns:swes="http://www.opengis.net/swes/2.0" xmlns:sosREST="http://www.opengis.net/sosREST/1.0" xmlns:swe="http://www.opengis.net/swe/1.0.1" xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" service="SOS" version="2.0.0" xsi:schemaLocation="http://www.opengis.net/sos/2.0 http://schemas.opengis.net/sos/2.0/sosInsertSensor.xsd   http://www.opengis.net/swes/2.0 http://schemas.opengis.net/swes/2.0/swes.xsd"
  sml:System
    sml:identification
      sml:IdentifierList
        sml:identifier name="uniqueID"
          sml:Term definition="urn:org:def:identifier:OGC:1:0:uniqueID"
            sml:value = uniqueID
    sml:classification
      sml:ClassifierList
        sml:classifier name="intendedApplication"
          sml:Term definition="urn:org:def:identifier:OGC:1:0:application"
            sml:value = intendedApplication
        sml:classifier name="sensorType"
          sml:Term definition="urn:org:def:identifier:OGC:1:0:sensorType"
            sml:value = sensorType
    sml:validTime
      gml:timePeriod
        gml:beginPosition = beginPosition
        gml:endPosition = endPosition
    sml:capabilities name="InsertionMetadata"
      swe:SimpleDataRecord
        swe:field name="sos:ObservationType"
          swe:Text
            swe:value = observationType
        swe:field name="sos:FeatureOfInterestType"
          swe:Text
            swe:value = featureOfInterestType
    sml:inputs
      sml:InputList
        sml:input name="precipitation"
          swe:ObservableProperty definition="urn:ogc:def:property:OGC:1.0:precipitation"
    sml:outputs
      sml:OutputList
        sml:output name="precipitation"
          swe:Quantity definition="urn:ogc:def:property:OGC:1.0:precipitation"
            swe:uom code="mm"
